#
# Note: 
# The code in this project is formatted with Prettier. However, we can use an .editorconfig file 
# to customize how GitHub presents source code files.
#
root = true

[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{ts,tsx,js,jsx}]
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false