# Yarn 2 Gitignores
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Package Outputs
packages/*/dist/
packages/*/lib/

node_modules/
docs_generated/
coverage/
*.log
.DS_Store
*.tgz
.tsbuildinfo
tsconfig.tsbuildinfo
.jest-cache/
test-report.xml
