//msrp-essex.pkgs.visualstudio.com/_packaging/essex-npm/npm/registry/:_authToken=${NPM_TOKEN}
//msrp-essex.pkgs.visualstudio.com/_packaging/essex-npm/npm/:_authToken=${NPM_TOKEN}
registry=https://msrp-essex.pkgs.visualstudio.com/_packaging/essex-npm/npm/registry/
always-auth=true