name: Auto merge Dependabot updates

on:
  check_suite:
    types:
      - completed

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: auto-merge
        uses: darthtrevino/dependabot-auto-merge-action@master
        with:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_DEPLOY_KEY  }}
