name: Deploy Docsite
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - run: yarn install
        name: Install Dependencies

      - run: yarn build
        name: Build Packages
        env:
          CI: true

      - run: yarn lerna run prepare_for_release --scope @chart-parts/docsite
        name: Release Docsite
